@model WebApplication1.Models.IndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@Model.FirstName @Model.LastName</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <input type="email" name="emailaddress"> 
    @Html.TextBoxFor(model=>model.LastName);
    <input type="submit">
</form>

